body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#main {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
    'head head'
    'side content';
    grid-template-rows: min-content auto;
    grid-template-columns: clamp(300px, 20vw, 500px) auto;
    overflow: hidden;
}

#main > * {
    box-sizing: border-box;
    padding: 10px;
    margin: 0px;
}

#head {
    grid-area: head;
    background-color: darkslategrey;
}

@keyframes backgroundbounce {
    0% {
        background-position: 0px 0px;
    }
    10% {
        background-position: 100% 10%;
    }
    20% {
        background-position: 0% 20%;
    }
    30% {
        background-position: 100% 30%;
    }
    40% {
        background-position: 0% 40%;
    }
    50% {
        background-position: 100% 50%;
    }
    60% {
        background-position: 0% 60%;
    }
    70% {
        background-position: 100% 70%;
    }
    80% {
        background-position: 0% 80%;
    }
    90% {
        background-position: 100% 90%;
    }
    100% {
        background-position: 0% 100%;
    }
}

#content {
    grid-area: content;
    background-color: #111111;
    color: lightgreen;
    overflow-y: auto;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(unnecessarily_large.png);
    background-attachment: fixed;
    animation-name: backgroundbounce;
    animation-duration: 160s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

#side {
    grid-area: side;
    background-color: slategray;
    padding-left: 20px;
}

a{
    color: lightcoral;
    border: 1px solid transparent;
}

a:visited {
    color: blanchedalmond;
}

a:hover {
    border: 1px solid white;
}

a {
    text-decoration: none;
}

h1, h2 {
    border-bottom: 1px solid white;
}

h2 {
    margin-left: 0.25in;
}

p{
    text-indent: 0.25in;
    margin-left: 0.5in;
    margin-bottom: 5px;
}

@keyframes rainbow{
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -10000px;
    }
}

.rainbow {
    background-image: repeating-linear-gradient(90deg, red 0%, orange 14%, yellow 28%, green 42%, blue 56%, indigo 70%, violet 84%, red 98%);
    font-weight: bold;
    color: transparent;
    background-clip: text;
    animation-name: rainbow;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

.frame {
    background-color: black;
    padding: 5px;
    font-family: monospace;
}

.frame > span:first-child {
    background-color: green;
    color: yellow;
}

.frame > span:nth-child(2n) {
    background-color: blue;
    color: white;
}

.framedesc {
    font-family: monospace;
    color: orange;
}

.framedesc > span {
    background-color: black;
    border: 1px solid lightgrey;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    display: inline-block;
}

.framedesc > span > span {
    display: none;
}

.framedesc > span:hover {
    background-color: orange;
}

.framedesc > span:hover > span {
    display: block;
    width: 300px;
    background-color: darkorange;
    color: black;
    position: absolute;
    padding: 10px;
    left: 0px;
    z-index: 10000000;
}

td {
    border: 1px solid #333333;
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

table > thead {
    background-color: darkgrey;
    color: black;
}

table > tbody {
    color: white;
}