#startscreen {
    display: grid;
    grid-template-columns: clamp(400px, 20%, 700px) auto;
}

#sidepanel {
    background-color: slateblue;
}

body > div {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
}

body {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Chakra Petch";
}

h1 {
    text-align: center;
}

p, #talk > div {
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 50px;
}

input, button {
    outline: none;
    border: none;
    background-color: transparent;
    width: 100%;
}

button:hover {
    background-color: white;
    cursor: pointer;
}

button[type="submit"] {
    margin-top: 20px;
}

#startform {
    padding: 20px;
    font-size: 1.2em;
}

#startform > * {
    font-size: 1em;
}

button {
    background-color: green;
    display: block;
    width: 100%;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    display: block;
    width: 100%;
    padding-left: 20px;
    padding: 10px;
    border-left: 2px solid white;
}

input[type="radio"]:checked + label {
    border-left: 2px solid red !important;
    font-weight: bold;
}

input[type="radio"] + label:hover {
    border-left: 2px solid pink;
}

input[type="checkbox"] {
    display: none;
}

.banner {
    font-weight: bold;
    color: darkgoldenrod;
    display: inline-block;
    position: relative;
}

.banner > span {
    display: none;
}

.banner:hover {
    cursor: pointer;
}

.banner:hover > span {
    width: 100%;
    position: absolute;
    display: inline-block;
    color: white;
    background-color: red;
    left: 0;
    top: calc(1em + 5px);
}

.banner > span:before {
    float: left;
    content: "banner";
    font-size: 0.6em;
    text-align: initial;
}

#famous > li:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

input + #speclabel {
    background-color: red;
}

input:checked + #speclabel {
    background-color: green;
}

#speclabel {
    width: 60px;
    border-radius: 100vw;
    height: 25px;
    float: right;
    position: relative;
}

#speclabel::after {
    content: "";
    border-radius: 100vw;
    height: 20px;
    width: 20px;
    padding: 2.5px;
    background-color: white;
    position: absolute;
    display: block;
    max-width: 100vw;
    transition: left 0.3s, transform 0.3s;
    left: 0px;
    transform: translateX(0);
}

input:checked + #speclabel::after {
    left: 100%;
    transform: translateX(-100%);
}

#famous > li {
    font-weight: bold;
    color: darkgoldenrod;
}

.textview {
    background-color: black;
    color: white;
}

.textview > div {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#game {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}